
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>Data Menu</title>

	<link rel="stylesheet" type="text/css" th:href="@{/jquery-ui/jquery-ui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/jquery-ui/jquery-ui.theme.css}">
    <script type="text/javascript" th:src="@{/jquery-ui/jquery-3.4.1.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-ui/jquery-ui.js}"></script>
    
</head>
<body>

<h1>Daftar Menu</h1>
 
<div id="accordion" >
<div th:each="m : ${menus}">
  <h3 th:text="${m.nama_menu}"></h3>
  <div>
    <p th:text="${m.sub_menu}">
   
    </p>
  </div>
</div>
</div>

  <script>
  $( function() {
    $( "#accordion" ).accordion();
  } );
  </script>
</body>
</html>